In [6]:
import pandas as pd

In [7]:
list = [[1,23,3],[2,3,4],[5,6,7]]
df= pd.DataFrame(list)
df

   0   1  2
0  1  23  3
1  2   3  4
2  5   6  7

In [8]:
type(df.sum(axis=1))

pandas.core.series.Series

In [9]:
df.iloc[:,1]

0    23
1     3
2     6
Name: 1, dtype: int64

In [12]:
list[1][0]

2

In [ ]:
现有一个N行 x M列的矩阵，要求计算每列数据的均值，找到这些均值的最大值U，从矩阵中筛选出所有比U大的数据并求和**

A = [[1, 4, 5, 12],[6, 7, 11, 19]]