In [1]:
import pandas as pd

In [7]:
list = [[1,23,3],[2,3,4],[5,6,7]]
df= pd.DataFrame(list)
df

   0   1  2
0  1  23  3
1  2   3  4
2  5   6  7

In [8]:
type(df.sum(axis=1))

pandas.core.series.Series

In [9]:
df.iloc[:,1]

0    23
1     3
2     6
Name: 1, dtype: int64

In [12]:
list[1][0]

2

In [1]:
# 现有一个N行 x M列的矩阵，要求计算每列数据的均值，找到这些均值的最大值U，从矩阵中筛选出所有比U大的数据并求和**

A = [[1, 4, 5, 12],[6, 7, 11, 19]]

SyntaxError: invalid syntax (3187595002.py, line 1)

In [25]:
# 现有一个N行 x M列的矩阵，要求计算每列数据的均值，找到这些均值的最大值U，从矩阵中筛选出所有比U大的数据并求和**
def find_sum_greater_than_avg(matrix):
    # 计算每列数据的均值
    column_avg = [sum(col) / len(col) for col in zip(*matrix)]

    # 找到均值的最大值
    max_avg = max(column_avg)

    # 筛选出比最大均值大的数据并求和
    total_sum = sum([num for row in matrix for num in row if num > max_avg])

    return total_sum

# 测试数据
A = [[1, 4, 5, 12], [6, 7, 11, 19]]
result = find_sum_greater_than_avg(A)
print(result)

19

In [30]:
# 现有一个N行 x M列的矩阵，要求计算每列数据的均值，找到这些均值的最大值U，从矩阵中筛选出所有比U大的数据并求和**
A = [[1, 4, 5, 12], [6, 7, 11, 19]]
import pandas as pd
A = pd.DataFrame(A)
A

   0  1   2   3
0  1  4   5  12
1  6  7  11  19

In [31]:
a = sum(A.iloc[:,0])/len(A.iloc[:,0])
A.shape

(2, 4)

In [32]:
list_avg = []
for i in range(A.shape[1]):
    avg = sum(A.iloc[:,i])/A.shape[0]
    list_avg.append(avg)
list_avg

[3.5, 5.5, 8.0, 15.5]

In [34]:
max_a = max(list_avg)
B = A[A>max_a]
B

    0   1   2     3
0 NaN NaN NaN   NaN
1 NaN NaN NaN  19.0

In [38]:
B.sum().sum()
B.convert_dtypes()

      0     1     2     3
0  <NA>  <NA>  <NA>  <NA>
1  <NA>  <NA>  <NA>    19

In [40]:
# list_avg = []
# for i in range(A.shape[1]):
#     avg = sum(A.iloc[:,i])/A.shape[0]
#     list_avg.append(avg)
# list_avg

list_avg = [sum(A.iloc[:,i])/len(A.iloc[:,i]) for i in range(A.shape[1])]
max(list_avg)

15.5